body {
	background-color: orange;
}

.head {
	color: darkblue;
}

#bglime {
	background-color: lime;
	font-size: 40px;
}

#bglime span {
	color: red;
}

p {
	color: white;
}
p span {
	color: black;
	font-size: 25px;
}
#para {
	color: green;
}

ul li:first-child a {
	background-color: lime;
}
ul li:last-child a {
	background-color: darkblue;
	color: white;
}

ol li:nth-child(2) {
	color: blue;
}
ol li:nth-child(3) {
	color: red;
}
